<% provide :title, t("contact") %>
<h1><%= t "contact" %></h1>
<p>
<%= t ".contact_rort" %>
  <%= link_to t(".contact_page"), "http://www.railstutorial.org/contact" %>.
</p>
<br>
<%= link_to "Eng", locale: "en" %>
<%= link_to "Vie", locale: "vi" %>
</br>
