<h1><%= t "pass_reset" %></h1>

<p><%= t ".click_link_below" %></p>

<%= link_to t(".reset_pass"), edit_password_reset_url(id: @user.reset_token,
                                                      email: @user.email) %>

<p><%= t ".expire_2_hours" %></p>

<p>
<%= t ".if_not_you" %>
</p>
