<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("sample_app_u"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <li><%= link_to t("log_in"), "#" %></li>
        <%= link_to "Eng", locale:"en" %>
        <%= link_to "Vie", locale:"vi" %>
      </ul>
    </nav>
  </div>
</header>
